.header {
    padding: 2%;
    background-color: #59981A;
    font-size: 50px;
    text-align: center;
    width: 100%;
    color: #ECF87F;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

 }

 .border{
   box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   border:0;
 }
 
 .footer {
    margin-top: 50px;
    padding: 2%;
    background-color: #3B1B96;
    font-size: 15px;
    text-align: center;
    width: 100%
 }
 
 .dashboard {
    padding: 3% 1%;
 }

h1 {
    text-align: center;
}

h2, label, th{
  color: #59981A;
}

.btn-warning{
  border-bottom-left-radius: 15px;
}

.display-board {
    width: 100%;
    background-color:#59981A;
    color: #ECF87F;
    padding: 5%;
}

.number {
  color: white;
  font-size: 75px;
  text-align: center;
}

.border-effect{
  border-bottom-left-radius: 55px;
  border-top-right-radius: 55px;
}