.header {
    padding: 2%;
    background-color: #59981A;
    font-size: 50px;
    text-align: center;
    width: 100%;
    color: #ECF87F;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

 }
 
 .footer {
    padding: 2%;
    background-color: red;
    font-size: 50px;
    text-align: center;
    width: 100%
 }
 
 .dashboard {
    padding: 3% 1%;
 }

h1 {
    text-align: center;
}

h2, label, th{
  color: #59981A;
}

.btn-danger{
  background-color:#59981A !important;
  border-color: #59981A !important;
  color:#ECF87F !important;
}

.display-board {
    width: 100%;
    background-color:#59981A;
    color: #ECF87F;
    padding: 5%;
}

.number {
  color: white;
  font-size: 75px;
  text-align: center;
}

.border-effect{
  border-bottom-left-radius: 55px;
  border-top-right-radius: 55px;
}